<div class = "side-header">
  <p class = "user-name">Tom</p>
  <p class = "make-chat">チャットを作成する</p>
</div>

<div class = "side-content">
  <div class = "room">
    <div class = "room-name">
      <a href = "#" class = "room-name">techroom1</a>
    </div>
  </div>
  <div class = "room">
    <div class = "room-name">
      <a href = "#">techroom2</a>
    </div>
  </div>
</div>
